body {
    background-color: lightgray;
}

h1, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
}

a, p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
    text-transform: uppercase;
    color: yellow;
}

p {
    color:palevioletred;
}

nav {
    margin: 3rem;
    text-align: center;
}