body {
    background-color: #D9AFD9;
    background-image: linear-gradient(90deg, #D9AFD9 0%, #97D9E1 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.name-info {
    flex-direction: column;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

a:hover {
    color: hotpink;
    font-size: 1.2rem;
}

a:visited {
    color:white;
}

img {
    max-width: 100%;
    text-align: centers;
}